#canvas{
    border: 1px solid black;
}
#menu{
    height: 9cm;
    width: 7cm;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 42%;
    top: 20%;
    display: none;
}
#scores{
    height: 50%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#controls{
    height: 30%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
button{
    cursor: pointer;
    height: 0.75cm;
    width: 2cm;
    font-family: monospace;
    font-weight: bold;
    border-radius: 50px;
    border: 0.5px solid black;
    /* outline: none; */
}